
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
    width: 100%;
    height: 100vh;
    background-color: rgb(74, 74, 74);
}

/* .container{
    height: 100%;
} */

.card{
    width: 30%;
    background-color: rgb(5, 59, 10);
    cursor: pointer;
}

.card:hover{
    transform: scale(1.1);
    transition: all 0.5s linear;
    box-shadow: 0 0 20px rgba(29, 111, 77, 0.612);
    z-index: 2;
}

.text-bold{
    font-weight: bold;
}

#div-img{
    width: 100%;
}

#div-img img{
    width: 40%;
    display: block;
    margin: 0 auto;
}

.active{
    opacity: 1;
    z-index: 3;
}